.mast-head{
	margin-left: 30em;
	padding-top: 3em;
}

/* Styles go here */

.notification {
  background: skyblue;
  padding:10px;
  border:2px solid black;
}

.results{
	background-color:green;
	border: 2px solid red;
	width: 100%;
	min-height: 100%;

}